name: Python Quality Check
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Run Flake8
        run: |
          pip install flake8
          # This will check your code for PEP8 errors
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
